<ul>
  {% for p in include.list %}
  {% if "all" == "all" %}
  {% assign ok = true %}
  {% else %}
  {% if include.type == p.type %}
  {% assign ok = true %}
  {% else %}
  {% assign ok = false %}
  {% endif %}
  {% endif %}
  {% if ok %}

  <li>
    {% if p.site %}
    <a href="{{ p.site }}">{{ p.name }}</a>
    {% else %}
    {{ p.name }}
    {% endif %}
    {% if p.note %}
    ({{ p.note }})
    {% endif %}
    {% if p.dest %}
    → {{ p.dest }}
    {% endif %}
  </li>
  {% endif %}
  {% endfor %}
</ul>
