.project {
    box-sizing: border-box;
    float: left;
    height: 250px;
    padding: 10px;
    vertical-align: middle;
    width: 33.33%;

    .thumbnail {
        overflow: hidden;
        height: 200px;
        width: 100%;

        img {
            height: auto;
            position: relative;
                left: -25%;
                top: -5%;
            width: 500px;
        }

        a {
            float: left;
            height: 230px;
            position: relative;
            width: 100%;

            span {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(0,0,0,0.4);
                color: $grey-color-light;
                padding: 40px;
                text-align: center;

                h1 {
                    font-size: 1.5rem;
                    margin: 0;
                }

                p {
                    color: $grey-color-light;
                }
            }

            &:hover {
                span {
                    display: block;
                }
            }
        }
    }
}

.image-right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: right;
}

.project-main-image {
  display: block;
  margin-left: 1em;
  margin-right: auto;
  float: right;
  border: black 1px solid;
}

.project-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border-collapse: collapse;

    > li {
        border-bottom: 1px solid $light-gray;
        padding-bottom: $space-3;
        padding-top: $space-3;
    }
    .project-title {
	font-size: 1.5em;
	line-height: 1em;
    }

}



.project-item {
    overflow: hidden;

    > tr {
    }

    td > td {
	border: 0;
    }

    > td {
	border-top: 1px solid $dark-gray;
    }
    .project-image {
	overflow: hidden;
    }

    > li {
        border-bottom: 1px solid $light-gray;
        padding-bottom: $space-3;
        padding-top: $space-3;
    }

    .thumbnail {
	overflow: hidden;
	margin-left: auto;
	float: left;
	width: 250px;
	height: 100%;

	img {
	}
    }
}
