name: Deploy to systems webserver

on:
  status:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: >-
      github.event.state == 'success'
    steps:
    - name: Invoke deployment hook
      uses: distributhor/workflow-webhook@v3
      env:
        webhook_url: ${{ secrets.WEBHOOK_URL }}
        webhook_secret: ${{ secrets.WEBHOOK_SECRET }}
